* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: inherit;
  }
  
body {
  background-color: #0f3b69;
}

  nav ul {
    list-style: none;
    overflow: hidden;
    background: rgba(255,255,255,.1);
    border:.1rem solid rgba(255,255,255,.1);
    border-top:.1rem solid rgba(255,255,255,.3);
    border-left:.1rem solid rgba(255,255,255,.3);
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgb(27, 27, 27);
    padding:1rem;
    font-weight: bold;

  }
  
  nav ul li {
    font-size: 1.5em;
    padding: 20px;
  }
  
  nav ul a:nth-child(1) {
    float: left;
  }
  
  nav ul a:nth-child(n+2) {
    float: right;
  }
  
  nav ul li:hover {
    color: #9a9a9a;
  }

 
  form {
    margin: 20px auto 0 auto;
    max-width: 600px;
    width: 100%;
    padding: 0 20px;
    background:rgba(255,255,255,.1);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  form input {
    width: 100%;
    outline: none;
    background:rgba(255,255,255,.1);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border: .5px solid black;
    margin: 10px 0;
    padding: 10px 10px 10px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    border-radius: .5rem;
  }
  
  form button {
    margin-top: 10px;
    padding: 10px 20px;
    background:rgba(255,255,255,.1);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border: .5px solid black;
    border-radius: .5rem;
    margin-bottom: 10px;
  }
  
    button, input, select, textarea {
        font-family: inherit;
        font-size: 100%;
    }
    
 
  .header {
    text-align: center;
    margin-top: 68px;
  }

  
  .form-message {
    margin: 20px auto 0 auto;
    border-radius: 10px;
    text-transform: capitalize;
    max-width: 560px;
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .form-message-red {
    background-color: #ffb3b3;
    border: 2px solid #ff0000;
  }
  
  .form-sub-msg {
    margin: 20px auto 0 auto;
    width: 90%;
    max-width: 560px;
    color: #00334d;
  }
  


  #footer {
    margin-top: 130px;
    background-color: #f2f2f2;
    width: 100%;
  }
  
  #footer p {
    text-align: center;
    font-size: 1.5rem;
    padding: 30px 0;
    font-weight: bold;
  }
 
/* ----------------------- ONE PAGE --------------------- */


.visionne,
.like {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}
